@page "/login"

@inherits ViewBase<ILoginViewModel>

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<EditForm Model="ViewModel.Model" OnValidSubmit="ViewModel.SubmitLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="username">@Localizer["LoginPage.LabelUsername"]</label>
        <InputText id="username" @bind-Value="ViewModel.Model.UserName" class="form-control" />
        <ValidationMessage For="@(()=> ViewModel.Model.UserName)" />
    </div>
    <div class="mb-3">
        <label for="password">@Localizer["LoginPage.LabelPassword"]</label>
        <InputText id="password" type="password" @bind-Value="ViewModel.Model.Password" class="form-control" />
        <ValidationMessage For="@(()=> ViewModel.Model.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["LoginPage.ButtonLogin"]</button>
</EditForm>

